:root {
    --caf-noir: #54390Dff;
    --dark-moss-green: #3B4311ff;
    --eerie-black: #19231Bff;
    --night: #0D140Cff;
    --papaya-whip: #FDEDCCff;
    --black-olive: #313920ff;
    --field-drab: #6D5124ff;
    --xanthous: #F4B23Cff;
    --dark-goldenrod: #977E37ff;
    /* trying to find the right green for header  */
    --dark-moss-green-2: #55622Cff;
    --dark-moss-green-3: #606511ff;
    --olive: #8C8131ff;
    /* using olive2 for now  */
    --olive-2: #888328ff;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: var(--eerie-black);
}